/**
 * Reset some basic elements
 */



body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body, input, textarea, select, button {
    text-rendering: optimizelegibility;
    font-feature-settings: "liga", "kern";
}


/**
 * Basic styling
 */
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    position: relative;
    color: #4A4A4A;
    -webkit-text-size-adjust: 100%;
    background-color: #f7f3eb;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure{}