$color1: #31302b; // Menu Color
$color2: #ef672f; // Orange
$color3: #999; // Ligth Grey
$color4: white;
$color5: #2A2925; //Hover Menu Color
$color6: #4a4a4a;
$color7: #cac3b4;

$font-family: 'Lato', sans-serif;

@mixin h1{font-weight: 900;
    font-size: 55px;
    margin: 1em auto;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    color: $color4;}

@mixin h2{font-weight: 900;
    line-height: 2em;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    color: $color1;}

@mixin h3{font-weight: 900;
    line-height: 2em;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    color: $color6;}

a,
a:hover,
a:focus,
a:active
{color: $color2;}

.top-menu-fix{padding-top: 50px;}

header{
    height: 52px;
    .topbar{background-color: $color1; box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);}
    .navbar{
        margin-bottom: 0;    
        .navbar-toggle{
            border: 1px solid $color3;
            .icon-bar{border: 1px solid $color3;}
        }
        .navbar-brand, .navbar-nav > li{
            &.active > a,
            & > a{
            
            &:hover, &:focus{
                color: $color2;
                background: $color5;
                }
            }
        }
        .navbar-brand, .navbar-nav > li{
            
        & > a,
        &.active > a{
        color: $color4;
        font-family: $font-family;
        text-shadow: 0px 1px 0px rgba(83, 81, 81, 0.67);
        &:hover, &:focus{
            color: $color2;
            background: $color5;
                }
            }
        }
        .open{
//            & > a,
            & > a:active,
            & > a:hover{
               background: $color5;color: $color2; text-shadow: none; 
            }
        }
        .navbar-nav .open .dropdown-menu {
        background: $color5;
        .dropdown-header,
        & > li.active > a{
            color: white;
            &:focus,
            &:hover{background: $color6; text-shadow: none;}
        }
        & > li > a{
            color: white;
            &:focus,
            &:hover{background: $color6; text-shadow: none;}
        }
        .divider{background-color: $color6;}
        }
        .navbar-nav > li.active > a{
            color: $color2;
            background: $color5;
        }
    }
}

.wrapper{
    background: url("../images/background.png") repeat-x ;
    .site-title {
           @include h1;
    }
    .page{background-color: $color4;padding: 0 5% 5%;box-shadow: 5px 5px 0px rgba(255, 255, 255, 0.5);border-radius: 2px;}
    h2{@include h2;}
    h3{@include h3;}
}
.site-footer{
    margin-top: 2em;
    padding: 1em 0.5em;
    background: $color1;
    color: $color7;
}
