<!DOCTYPE html>
<html lang="pt">

  {% include head.html %}

  <body data-spy="scroll" data-target="#nav-scroll">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WVTPG5Z"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include disqus.html %}

    {% include footer.html %}

    {% include rich_snippets.html %}

  </body>

</html>
